.google-btn button{
  background-color: #4285F4 !important;
}
.google-btn div{
  background-color: white !important;
}

.google-btn span{
  color:white !important;
}

.err{
  border-bottom: 2px solid rgb(255, 51, 51);
}

.err-message{
  color: rgb(255, 51, 51);;
}

.success-message{
  color: rgb(37, 252, 30);
  font-weight: bold;
}